body {
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #000;
}

a:link,
a:visited {
    color: #4682b4;
}

a:hover {
    color: #4169e1;
}

#main {
    width: 100%;
    height: 650px;
    margin: auto;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}